<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo_senza_sfondo.png" />
		<title>Ciro A. Strazzullo | Portfolio</title>
		<meta name="robots" content="index, follow">
		<meta name="description" content="Portfolio di Ciro A. Strazzullo, sviluppatore web e appassionato di tecnologia." />
		<meta name="keywords" content="Ciro Strazzullo, Ciro A. Strazzullo, portfolio, sviluppatore web, tecnologia, progetti" />
		<meta name="author" content="Ciro A. Strazzullo" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Mono:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<meta property="og:title" content="Ciro A. Strazzullo | Portfolio" />
		<meta property="og:description" content="Portfolio di Ciro A. Strazzullo, sviluppatore web e appassionato di tecnologia." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://ciroastrazzullo.com/logo.png" />
		<meta property="og:url" content="https://ciroastrazzullo.com" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Ciro A. Strazzullo | Portfolio" />
		<meta name="twitter:description" content="Portfolio di Ciro A. Strazzullo, sviluppatore web e appassionato di tecnologia." />
		<meta name="twitter:image" content="https://ciroastrazzullo.com/logo.png" />

		<link rel="stylesheet" href="/global.css" />
	</head>
	<body class="bg-background">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
